.add-form {
    border-radius: 50px;
    background: #efbf7f;
    box-shadow:  20px 20px 60px #cba26c,
                 -20px -20px 60px #ffdc92;
    margin: 6px 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 60vh;
  }
  .form-item {
    margin: 12px 0px;
    width: 70%;
    padding: 4px;
    border-radius: 6px;
    background-color: white;
  }
  .form-item label {
    background-color: #0c5d7b;
    padding: 5px 12px;
    border-radius: 4px;
    margin-right: 0;
    color: #f8e4cc;
  }
  .form-item input {
    font-size: 16px;
    border: none;
    width: 70%;
    outline: none;
  }
  .category-container-parent {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .category {
    position: relative;
    width: 40%;
  }
  .category-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
    background-color: white;
    border-radius: 6px;
    padding: 4px;
  }
  .category-dropdown i {
    display: flex;
    align-items: center;
  }
  
  .category-container {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    background: #ffffff;
  }
  
  .category-item {
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    cursor: pointer;
  }
  .category-item img {
    height: 32px;
    margin-right: 20px;
  }
  
  .form-add-button {
    display: flex;
    justify-content: flex-end;
  }
  .form-add-button div:hover{
      color: var(--bgColor);
      background-color: var(--primary);
  }
  .form-add-button div {
    display: flex;
    border: 2px solid var(--primary);
    padding: 2px 8px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .form-add-button div svg{
    display: flex;
    align-items: center;
    margin-right: 6px;
  }
  
  @media only screen and (max-width: 1024px) {
    .form-item {
      width: 100%;
    }
    .form-item input {
      width: 70%;
    }
    .amount-input {
      width: 50% !important;
    }
    .category {
      width: 80%;
    }
  }