.ReactModal__Content {
    background-color: #71ccca;
  }
  .modal-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .added-image {
    height: 360px;
  }
  
  .take-home-button {
    border: 2px solid var(--primary);
    padding: 4px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .take-home-button:hover{
    color: #71ccca;
    background-color: var(--primary);
  }
  
  .take-home-button svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
  }
  
  @media only screen and (max-width: 1024px) {
    .added-image {
      height: 320px;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .added-image {
      height: 240px;
    }
  }