.topfold{
    display: flex;
    justify-content: space-between;
    margin: var(--gutter);
    padding: 12px 0;
    align-items: center;
}

.home-topfold{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.searchbar{
    display: flex;
    align-items: center;
    width: 50%;
    background-color: var(--white);
    border-radius: 12px;
}

.searchbar input{
    width: 90%;
    border: none;
    outline: none;
    padding: 8px 0;
    margin-left: 6px;
    background-color: var(--white);

}

.searchbar svg{
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.add-button{
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 2px solid var(--primary);
    font-size: 1rem;
    padding: 4px 8px;
    cursor: pointer;
}

label.add-button {
    cursor: pointer;
}

.add-button:hover{
    background-color: var(--primary);
    color: var(--bgColor);
    cursor: pointer;
}

.add-button svg{
    display: flex;
    align-items: center;
    margin-right: 4px;
    cursor: pointer;
}

.add-topfold{
    display: flex;
    justify-content: space-between;
    flex: 1;
    
}

.add-topfold-button{
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;

}

.add-topfold-button p{
    cursor: pointer;
}

.add-topfold-button svg{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
