html{
  --bgColor:#efbf7f;
  --primary:#12103d;
  --secondary:#0c5d7b;
  --white:#fff;
}

body {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: var(--bgColor);
font-family: 'Noto Sans', sans-serif;
}